<data-groups [model]="example3Model" (submitEvent)="onSubmit($event)">
  <data-group>
    <bs-select2
      #dataInput
      placeholder="Select a value"
      [options]="optionGroup"
      [theme]="theme"
      label="Select 1"
      name="country"
      (changeEvent)="onChange($event)"
      (selectedEvent)="onSelected($event)"
    ></bs-select2>

    <bs-select2
      #dataInput
      placeholder="Select a value"
      [options]="optionGroup"
      [theme]="theme"
      label="Select with groups"
      name="city"
      (changeEvent)="onChange($event)"
      (selectedEvent)="onSelected($event)"
    ></bs-select2>

    <bs-select2
      #dataInput
      multiple="multiple"
      placeholder="Select a value"
      [options]="multipleSelectOptions"
      [theme]="theme"
      name="cities"
      label="Multiple select"
    ></bs-select2>
  </data-group>
  <button class="btn btn-primary waves-effect waves-themed">Enviar</button>
</data-groups>
