<div
  [ngClass]="{
    'is-invalid': isInvalid,
    'is-valid': isValid
  }"
>
  <label>{{ label }}</label>
  <select
    #select
    [id]="id + '-my-component'"
    multiple
    [name]="name"
    (focusout)="focusout($event)"
    [size]="size"
  >
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.viewValue }}
    </option>
  </select>
  <small class="help-text" *ngIf="help">{{ help }}</small>
  <small class="error-feedback" *ngIf="error">
    {{ error }}
  </small>
</div>
