<p>Basic input examples:</p>

<data-groups [model]="exampleModel1">
  <data-group>
    <bs-input #dataInput label="Basic input" name="test"></bs-input>
    <bs-input
      #dataInput
      label="Input with placeholder"
      placeholder="Type text here"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input with help"
      help="It's an input with help"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input with start icon"
      startSlot="@"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input with end icon"
      endSlot="$"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      startSlot="Input with small size"
      size="small"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      startSlot="Input with large size"
      size="large"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      startSlotHtml="Input with large size and icon <i class='ml-2 fas fa-ambulance'></i>"
      size="large"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input with id"
      id="inputWithId"
      name="test"
    ></bs-input>

    <h3>Example of input events</h3>
    <bs-input
      #dataInput
      label="Example of click"
      (clickEvent)="click($event)"
      name="test"
    ></bs-input>
    <bs-input
      #dataInput
      label="Example of focusout"
      (focusoutEvent)="focusout($event)"
      name="test"
    ></bs-input>
  </data-group>

  <button class="btn btn-primary waves-effect waves-themed">Enviar</button>
</data-groups>

<h3>Example of data groups</h3>

<data-groups
  [group]="group"
  [model]="exampleModel2"
  (submitEvent)="onSubmit($event)"
>
  <data-group>
    <bs-input
      *ngIf="isActive"
      #dataInput
      label="Input 1"
      name="title"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input 2"
      name="text"
      placeholder="Type text here"
    ></bs-input>
  </data-group>
  <data-group>
    <bs-input
      *ngIf="isActive"
      #dataInput
      label="Input 1"
      name="title"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input 2"
      name="text"
      placeholder="Type text here"
    ></bs-input>
  </data-group>
  <button class="btn btn-primary waves-effect waves-themed">Enviar</button>
</data-groups>
