<bs-input
  label="Input with placeholder"
  placeholder="Type text here"
></bs-input>

<data-groups [model]="example3Model" (submit)="onSubmit($event)">
  <data-group>
    <bs-select2
      #dataInput
      placeholder="Select a value"
      [options]="options"
      [theme]="theme"
      label="Select 1"
      name="country"
      (changeEvent)="onChange($event)"
      (selectedEvent)="onSelected($event)"
    ></bs-select2>

    <bs-select2
      #dataInput
      placeholder="Select a value"
      [options]="optionGroup"
      [theme]="theme"
      label="Select with groups"
      name="city"
      (changeEvent)="onChange($event)"
      (selectedEvent)="onSelected($event)"
    ></bs-select2>

    <bs-select2
      #dataInput
      multiple="multiple"
      placeholder="Select a value"
      [options]="multipleSelectOptions"
      [theme]="theme"
      name="cities"
      label="Multiple select"
    ></bs-select2>
  </data-group>
  <data-footer>
    <button class="btn btn-primary waves-effect waves-themed" #submit>
      Enviar
    </button>
  </data-footer>
</data-groups>

<hr />

<bs-select2
  #dataInput
  placeholder="Select a value"
  [options]="optionsWithDisabled"
  [theme]="theme"
  label="Select with disabled options"
  noResults="No cities found"
></bs-select2>

<bs-select2
  [disabled]="disabled"
  placeholder="Select a value"
  [options]="options"
  [theme]="theme"
  label="Select 1"
></bs-select2>
