<p>Basic input examples:</p>

<bs-input label="Basic input"></bs-input>
<bs-input
  label="Input with placeholder"
  placeholder="Type text here"
></bs-input>
<bs-input label="Input with help" help="It's an input with help"></bs-input>
<bs-input label="Input with start icon" startIcon="@"></bs-input>
<bs-input label="Input with end icon" endIcon="$"></bs-input>
<bs-input label="Input with small size" size="small"></bs-input>
<bs-input label="Input with large size" size="large"></bs-input>
<bs-input label="Input with id" id="inputWithId"></bs-input>
<bs-input
  label="Input with two way data binding value"
  [value]="{ model: myModel, path: 'fieldValue' }"
  (keyup)="onKeyup($event)"
></bs-input>
<bs-input
  label="Input with two way data binding COMPLEX value"
  [value]="{ model: myModel, path: 'complexFieldValue.0.fieldValue' }"
  (keyup)="onKeyup($event)"
></bs-input>
