<p>Basic input examples:</p>

<bs-input label="Basic input"></bs-input>
<bs-input
  label="Input with placeholder"
  placeholder="Type text here"
></bs-input>
<bs-input label="Input with help" help="It's an input with help"></bs-input>
<bs-input label="Input with start icon" startSlot="@"></bs-input>
<bs-input label="Input with end icon" endSlot="$"></bs-input>
<bs-input startSlot="Input with small size" size="small"></bs-input>
<bs-input startSlot="Input with large size" size="large"></bs-input>
<bs-input
  startSlotHtml="Input with large size and icon <i class='ml-2 fas fa-ambulance'></i>"
  size="large"
></bs-input>
<bs-input label="Input with id" id="inputWithId"></bs-input>

<h3>Example of input events</h3>
<bs-input label="Example of click" (click)="click($event)"></bs-input>
<bs-input label="Example of focusout" (focusout)="focusout($event)"></bs-input>

<h3>Example of data groups</h3>

<data-groups
  [group]="group"
  [model]="exampleModel2"
  (submit)="onSubmit($event)"
>
  <data-group>
    <bs-input
      *ngIf="isActive"
      #dataInput
      label="Input 1"
      name="title"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input 2"
      name="text"
      placeholder="Type text here"
    ></bs-input>
  </data-group>
  <data-group>
    <bs-input
      *ngIf="isActive"
      #dataInput
      label="Input 1"
      name="title"
    ></bs-input>
    <bs-input
      #dataInput
      label="Input 2"
      name="text"
      placeholder="Type text here"
    ></bs-input>
  </data-group>
  <data-footer>
    <button class="btn btn-primary waves-effect waves-themed" #submit>
      Enviar
    </button>
  </data-footer>
</data-groups>
