<data-groups [model]="model">
  <data-group>
    <bs-select
      #dataInput
      label="Select test 1"
      name="city"
      placeholder="Select an option"
      [options]="optionGroup"
      [liveSearch]="true"
      [multiple]="true"
      [maxOptions]="2"
      maxOptionsText="You can select max {n} options"
    ></bs-select>
    <bs-select
      #dataInput
      [actionsBox]="true"
      label="Select with max options per group"
      name="city"
      placeholder="Select an option"
      [options]="optionGroupMax"
      [liveSearch]="true"
      [multiple]="true"
      maxOptionsText="You can select max {n} options per group"
      selectedTextFormat="count > 3"
      countSelectedText="Selected items {0}"
      [showTick]="true"
    ></bs-select>
  </data-group>
  <data-footer>
    <button class="btn btn-primary waves-effect waves-themed" #submit>
      Enviar
    </button>
  </data-footer>
</data-groups>
